// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #DDDDDD;
$yellow: #FFFFE1;
p, h1 {
  font-family: sans-serif;
  margin: 15px;
}

.fancy-box input {
  height: 100%;
  width: 100%;
  border: none;
  margin: 0;
  background-color: transparent;
}

.fancy-box {
  width: 50%;
  background-color: white;
  border-radius: 6px;
  display: block;
  position: relative;
  height: 50px;
  box-sizing: border-box;
  padding-right: 100px;
  border: 1px solid #D9D9D9;
  margin: 15px;
}
.fancy-box .button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
  width: 100px;
  border: none;
  color: white;
  background-color: #337AB7;
  font-size: 18px;
  font-weight: bold;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.question {
  border-left: 6px solid $gray;
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 2px;
  margin: 20px;
}
.answer {
  background-color: $yellow;
  border-left: 6px solid $gray;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 1px;
  margin: 20px;
}
a {
  font-family: sans-serif;
  text-decoration: none;
  color: #5CA3D4;
}
